* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
}

:root {
    --cor-primaria: #1A1D28;
    --cor-secundaria: #1DB095;
    --cor-cards : #2E3142;
    --cor-texto: #ffffff;
}




/* COMEÇO - MARCOS */




/* FIM - MARCOS */




/* COMEÇO - ALAN */




/* FIM - ALAN */





/* COMEÇO - KAWÃ */




/* FIM - KAWÃ */





/* COMEÇO - MATHEUS */




/* FIM - MATHEUS */







